
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3a8d6;
    color: #fff;
    line-height: 1.8;
}

header {
    background-color: #3299CC;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.btn-action {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f3a8d6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

